<%- include('header') %>

<body>
    <div class="invalid">
        <h2 class='invalid-h2'>Sorry! Your username or password do not match our record, please try again or register
            for an account.</h2>
        <a href='/'><button class='btn-invalid'>Try Again</button></a>
        <a href='/register'><button class='btn-invalid'>Sign up</button></a>
    </div>
</body>

</html>