<%- include('header') %>

<body>
    <h1>welcome to <i class="fas fa-key"></i>Secrets</h1>
    <a href='/logoff'><button class='logOff'>LOG OFF</button></a>
    <h2>Where you can share your secrets anonymously!</h2>

    <hr size='3'>
    <div class="secretsContainer">
        <% s.forEach(function(e,index){ %>
        <div class='card'>
            <p><%=index + 1 %>: <%=e.words %> </p>

        </div>
        <% }); %>

    </div>
    <a href='/compose'><button class='compose'>+</button></a>
</body>

</html>